# Virtual environment
# name of your virtual environment folder, eg: here, I'm creating a virtual environment named `virt`
virt/ 

# Bytecode files
__pycache__/
*.pyc
*.pyo

# Django-specific
*.log
db.sqlite3
media/

# VS Code
.vscode/

# Environment variables
.env